:root,
::backdrop {
	/* Color Palette */
	--color-black: #000;
	--color-white: #FFF;
	--color-light-gray: #E0E0E0;
	--color-dark-blue: #100E34;
	--color-neon-light: #F9DAE6;
	--color-neon-purple-light: #BE4FEF;
	--color-neon-purple: #B206FF;
	--color-neon-purple-dark: #9A00F2;
	--color-neon-purple-darker: #6A0099;

	--bg: var(--color-black);
	--accent-bg: var(--color-dark-blue);
	--text: var(--color-white);
	--text-light: var(--color-light-gray) ;
	--border: var(--color-neon-light);
	--accent: var(--color-neon-purple);
	--accent-hover: var(--color-neon-light);
	--accent-text: var(--color-black);
	--code: var(--color-neon-purple-darker);
	--preformatted: var(--color-neon-purple-darker);
	--marked: var(--color-neon-purple);
	--disabled: var(--color-light-gray);
}
@media (prefers-color-scheme: dark) {
	:root,
	::backdrop {
		color-scheme: dark;
		--bg: var(--color-black);
		--accent-bg: var(--color-dark-blue);
		--text: var(--color-white);
		--text-light: var(--color-light-gray) ;
		--border: var(--color-neon-light);
		--accent: var(--color-neon-purple);
		--accent-hover: var(--color-neon-purple-light);
		--accent-text: var(--color-black);
		--code: var(--color-neon-purple-darker);
		--preformatted: var(--color-neon-purple-darker);
		--marked: var(--color-neon-purple);
		--disabled: var(--color-light-gray);
	}
}

article {
	border: none;
}

main p {
	text-align: justify;
}

footer, footer p {
	text-align: center;
}

main > h1, main > h2, main > h3, main > h4, main > h5, main > h6 {
	text-align: center;
}

figure {
	text-align: center;
}

img.logo {
	opacity: 1.0;
}

header h1.title {
	font-family: monospace;
	text-shadow: 0px 0px 20px var(--accent);
}

body>header {
	box-shadow: 0px 0px 30px 5px var(--accent);
}
